{% extends 'base.html' %}

{% block content %}


<div class="container">
    <h1 class="py-3 text-center">Добавление нового восхождения</h1>
    <form method="post" enctype="multipart/form-data">

        {% if typeCreate == "yesGroup" %}
        <div class="mb-3">
            <label for="name" class="form-label">Название группы</label>
            <input type="text" class="form-control {% if errors.name %}is-invalid{% endif %}" id="name" name="name" 
            {% if params %}value="{{ params.name }}" {% endif %}>
            {% if errors.name %}
            <div id="name1" class="invalid-feedback">
                {{ errors.name }}
            </div>
            {% endif %}
        </div>
        {% endif %}


        <div class="mb-3 {% if errors.group %}border-error{% endif %}">
            <label for="mountain" class="form-label">Гора</label>
            <select class="form-select" aria-label="Default select example" id="select-mountain" name="select-mountain">
                <option selected>Выберите гору</option>
                {% for mountain in mountains %}
                <option value="{{ mountain.id }}" {% if params.mountain == mountain.id %}selected{% endif %}>{{ mountain.name }}</option>
                {% endfor %}
            </select>
            {% if errors.mountain %}
            <div id="mountain1" class="invalid-feedback display-yes" >
                {{ errors.mountain }}
            </div>
            {% endif %}
        </div>

        {% if typeCreate == "noGroup" %}
        <div class="mb-3 {% if errors.group %}border-error{% endif %}">
            <label for="group" class="form-label">Группа</label>
            <select class="form-select" aria-label="Default select example" id="select-group" name="select-group">
                <option value="" selected>Выберите группу</option>
                {% for group in groups %}
                <option value="{{ group.id }}" {% if params.group == group.id %}selected{% endif %}>{{ group.name }}</option>
                {% endfor %}
            </select>
            {% if errors.group %}
            <div id="group1" class="invalid-feedback display-yes">
                {{ errors.group }}
            </div>
            {% endif %}
        </div>
        {% endif %}

        <div class="mb-3">
            <label for="dateStart" class="form-label">Дата начала восхождения</label>
            <input type="datetime-local" class="form-control {% if errors.dateStart %}is-invalid{% endif %}" id="dateStart"
                name="dateStart" {% if params %}value="{{ params.dateStart }}" {% endif %}>
            {% if errors.dateStart %}
            <div id="dateStart1" class="invalid-feedback">
                {{ errors.dateStart }}
            </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="dateEnd" class="form-label">Дата конца восхождения</label>
            <input type="datetime-local" class="form-control {% if errors.dateEnd %}is-invalid{% endif %}" id="dateEnd"
                name="dateEnd" {% if params %}value="{{ params.dateEnd }}" {% endif %}>
            {% if errors.dateEnd %}
            <div id="dateEnd1" class="invalid-feedback">
                {{ errors.dateEnd }}
            </div>
            {% endif %}
        </div>

        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
</div>


{% endblock %}