{% extends 'base.html' %}

{% block content %}
<div class="p-5">
    <h1 class="text-center pb-4">Список всех восхождений</h1>

    {% if climbings %}
    <table class="table">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Дата начала
                </th>
                <th>
                    Дата окончания
                </th>
                <th>
                    Количество восхождений
                </th>
                <th>
                    Действие
                </th>
            </tr>
        </thead>
        <tbody>
            {% for climbing in climbings %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    {{ climbing.date_start }}
                </td>
                <td>
                    {{ climbing.date_end }}
                </td>
                <td>
                    ккк
                </td>
                <td>
                    Условные действия
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h2 class="p-2">Восхождений пока нету</h2>
    {% endif %}

    <div class="py-2">
        <a class="btn btn-primary" href="{{ url_for('climbers.add_new') }}">Добавить новое восхождение</a>
    </div>

</div>
{% endblock %}