{% extends 'base.html' %}

{% block content %}
<div class="p-5">
    <h1 class="text-center pb-4">Список всех альпинистов</h1>

    {% if climbers %}
    <table class="table">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Имя
                </th>
                <th>
                    Адресс
                </th>
                <th>
                    Действие
                </th>
            </tr>
        </thead>
        <tbody>
            {% for climber in climbers %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    {{ climber.fio }}
                </td>
                <td>
                    {{ climber.address }}
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('climbers.show_stat', climber_id=climber.id) }}">Посмотреть статистику</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h2 class="p-2">Альпенистов пока нету</h2>
    {% endif %}

    <div class="py-2">
        <a class="btn btn-primary" href="{{ url_for('climbers.add_new') }}">Добавить нового альпиниста</a>
        <a class="btn btn-primary" href="{{ url_for('climbers.show_climbers') }}">Просмотр альпинистов по датам</a>
    </div>

</div>
{% endblock %}