{% extends 'base.html' %}

{% block content %}


<div class="container">
    <h1 class="py-3 text-center">Добавление новой группы</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Название группы</label>
            <input type="text" class="form-control {% if errors.name %}is-invalid{% endif %}" id="name" name="name" 
            {% if params %}value="{{ params.name }}" {% endif %}>
            {% if errors.name %}
            <div id="name1" class="invalid-feedback">
                {{ errors.name }}
            </div>
            {% endif %}
        </div>

        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
</div>


{% endblock %}