{% extends 'base.html' %}

{% block content %}
<div class="p-5">
    <h1 class="text-center pb-4">Список всех групп</h1>

    {% if groups %}
    <table class="table">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Название
                </th>
                <th>
                    Состав
                </th>
                <th>
                    Действия
                </th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    {{ group.name }}
                </td>
                <td>
                    {% if group.climbers %}
                    <ul class="list-group list-group-flush">
                        {% for climber in group.climbers %}
                        <li>{{ climber }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('groups.add_climbers', group_id=group.id) }}">Добавить
                        альпиниста</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h2 class="p-2">Групп пока нету</h2>
    {% endif %}
    <div class="py-2">
        <a class="btn btn-primary" href="{{ url_for('groups.add_new') }}">Добавить новую группу</a>
        <a class="btn btn-primary" href="{{ url_for('groups.show_group') }}">Просмотр групп</a>
    </div>

</div>
{% endblock %}