{% extends 'base.html' %}

{% block content %}
<div class="p-5">
    <h1 class="text-center pb-4">Список всех групп, которые восходили на гору {{ mountainName }} </h1>

    {% if climbings %}
    <table class="table">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Название
                </th>
                <th>
                    Дата
                </th>
                <th>
                    Состав группы
                </th>
            </tr>
        </thead>
        <tbody>
            {% for climbing in climbings %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    {{ climbing.get_groups_name }}
                </td>
                <td>
                    {{ climbing.date_start }}
                </td>
                <td>
                    <ul class="list-group list-group-flush">
                        {% for climber in climbing.get_sostav_group %}
                        <li>{{ climber }}</li>
                        {% endfor %}
                    </ul>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h2 class="p-2">Групп пока нету</h2>
    {% endif %}

</div>
{% endblock %}