{% extends 'base.html' %}

{% block content %}
<div class="p-5">
    <h1 class="text-center pb-4">Список всех гор</h1>

    {% if mountains %}
    <table class="table">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Название
                </th>
                <th>
                    Высота
                </th>
                <th>
                    Страна
                </th>
                <th>
                    Окрестность
                </th>
                <th>
                    Количество восхождений
                </th>
                <th>
                    Количество альпенистов, побывавших на горе
                </th>
                <th>
                    Действие
                </th>
            </tr>
        </thead>
        <tbody>
            {% for mountain in mountains %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    {{ mountain.name }}
                </td>
                <td>
                    {{ mountain.height }}
                </td>
                <td>
                    {{ mountain.coutry }}
                </td>
                <td>
                    {{ mountain.district }}
                </td>
                <td>
                    {{ mountain.get_count_climbing or 0 }}
                </td>
                <td>
                    {{ mountain.get_count_climbes or 0 }}
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('mountains.show_groups', mountain_id=mountain.id) }}">Посмотреть группы</a>
                    {% if mountain.get_count_climbing == 0 %}
                    <a class="btn btn-primary" href="{{ url_for('mountains.edit_mouintain', mountain_id=mountain.id) }}">Изменить</a>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h2 class="p-2">Гор пока нету</h2>
    {% endif %}

    <div class="py-2">
        <a class="btn btn-primary" href="{{ url_for('mountains.add_new') }}">Добавить новую гору</a>
    </div>

</div>
{% endblock %}